body {
    margin: 0;
}

.header,
.footer,
.table,
.table-head,
.form-line{
    margin: 0 auto;
    width: 500px;
    display: flex;
}

.header {
    justify-content: space-between;
    padding: 10px 0 35px 0;
}

a {
    text-decoration: none;
    color: black;
}

p {
    margin: 4px 0 0 0;
}

.container {
    justify-content: center;
}

.table {
    min-height: 100%;
    min-width: 450px;
    /* border: 1px solid darkcyan; */
    flex-direction: column;
    align-items: center;
}

.table-row {
    width: 490px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
    height: 25px;
    padding: 5px;
}

.table-head{
    height: 35px;
    justify-content: flex-end;
    align-items: center;
    background-color: rgba(218, 217, 217, 0.53);
    border-radius: 10px;
}

.table-head > a{
    margin: 4px 20px 0 0;
}

.table-link {
    display: inline-block;
}

.table-link > img {
    width: 25px;
    height: 25px;
}

.footer {
    justify-content: center;
    padding: 35px 0 35px 0;
}


form,
.forms{
    width: 420px;
    align-items: center;
}

.form-line{
    justify-content: space-between;
    width: 100%;
    margin-top: 20px
}

input,
#date{
    width: 200px;
}

#text-area,
form{
    display: flex;
    flex-direction: column;
}

textarea{
    margin: 20px 0 20px 0;
}

button{
    width: 100px;
}

