* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

.menu,
.header,
.footer,
.table,
.table-head,
.form-line,
.wrapper,
.menu-link,
.container,
.article,
.news-block,
.table-row,
#text-area,
form,
.items,
.sort__column,
.sort__column-i,
.page-numbers {
    display: flex;
}

.wrapper {
    min-height: 100%;
}

.wrapper,
.table,
.article,
.news-block,
#text-area,
form {
    flex-direction: column;
}

.menu,
.header,
.footer,
.table,
.table-head,
.form-line {
    margin: 0 auto;
    width: 650px;
}

header {
    padding: 0 0 50px 0;
}

h4 {
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
}

p {
    margin: 4px 0 0 0;
}

.header {
    justify-content: space-between;
    padding: 50px 0 50px 0;
    width: 700px;
}

.menu {
    background: gainsboro;
}

.container,
.menu,
.menu-link,
.footer,
.page-numbers {
    justify-content: center;
}

.menu-link {
    border-left: 1px solid black;
    padding: 5px 45px;
    width: 70px;
}

.menu-link:first-child {
    border-left: none;
}

.table {
    min-height: 100%;
    min-width: 500px;
}

.table,
.table-head,
form,
.forms {
    align-items: center;
}

.table-head {
    width: 500px;
}

.news,
.articles {
    min-height: 100%;
    width: 500px;
}

.news-block,
.article {
    margin: 25px 0 30px 0;
    justify-content: flex-start;
    border-bottom: 1px solid black;
    padding-bottom: 30px;
}

.news-block > div,
.article > div {
    margin-bottom: 10px;
}

.news-block > a,
.article > a {
    align-self: flex-end;
}

.table-row {
    width: 490px;
    justify-content: space-between;
    border-bottom: 1px solid black;
    height: 25px;
    padding: 5px;
}

.table-head {
    height: 35px;
    justify-content: flex-end;
    background-color: rgba(218, 217, 217, 0.53);
    border-radius: 10px;
}

.table-head > a {
    margin: 4px 20px 0 0;
}

.table-link {
    display: inline-block;
}

.table-link > img {
    width: 25px;
    height: 25px;
}

form,
.forms {
    width: 420px;
}

.form-line {
    justify-content: space-between;
    width: 100%;
    margin-top: 20px
}

input,
#date {
    width: 200px;
}

textarea {
    margin: 20px 0 20px 0;
}

button {
    width: 100px;
    margin: 20px;
}

#send {
    width: 100%;
}

.items {
    align-content: center;
    flex-direction: column;
}

.sort > div {
    font-size: 13px;
}

.sort-name {
    display: flex;
}

.sort {
    box-sizing: border-box;
    padding: 5px;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px 25px;
    margin-bottom: 20px;
}

.sort__table {
    background-color: rgba(218, 217, 217, 0.53);
}

.sort__table,
.sort__items{
    display: flex;
}

.sort__column {
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    width: 80px;
    border: 1px solid #d5d5d5;
    padding: 5px;
    overflow-wrap: break-word;
}

.sort__column:first-child {
    width: 250px;
}
.sort__column:nth-child(7) {
    width: 100px;
}
.sort__column:nth-child(2) {
    width: 100px;
}

.sort__items > div {
    display: block;
    font-size: 12px;
}

.sort,
.search,
.all__items,
select {
    background-color: rgba(218, 217, 217, 0.53);
}

select {
    width: 100%;
    padding: 5px 10px;
    border: 1px solid #d5d5d5;
}

.all__items {
    grid-column-start: 4;
    grid-column-end: 5;
}

.search {
    grid-column-start: 5;
    grid-column-end: 6;
}

.all__items,
.search {
    text-align: center;
    padding: 5px 10px;
    color: #494949;
    border: 1px solid #d5d5d5;
    background-color: rgba(218, 217, 217, 0.53);
}

.all__items:hover,
.search:hover {
    background-color: #a3a0a1;
    color: white;
}

.page-numbers {
    flex-wrap: wrap;
}

.page-number {
    padding: 3px;
    border: 1px solid black;
    margin: 10px 5px 0 5px;
}

.footer {
    flex: 0 0 auto;
    padding: 50px 0 50px 0;
}