<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>title</title>
    <link rel="stylesheet" type="text/css" href="/../css/style.css">
</head>
<body>
<div class="wrapper">
    <header>
        <div class="header">
            <a href="/"><img src="" alt="Logo"></a>
            <div class="links">
                <a href="/login">Login</a>
                <span>/</span>
                <a href="/registration"> Registration</a>
                <span>/</span>
                <?= isset($_SESSION['login']) ? $_SESSION['login'] : "guest"; ?>
                <span>/</span>
                <a href="/exit"> Exit</a>
            </div>
        </div>
    </header>